<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyecto">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logofinalFinalisimo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logofinalFinalisimo_round"
        android:supportsRtl="true"
        android:theme="@style/TemaPrincipal"
        tools:targetApi="m">
        <activity android:name=".ti.SolicitudesPendientes" />
        <activity android:name=".ti.EditarDispositivo" />
        <activity android:name=".ti.AgregarDispositivo" />
        <activity android:name=".Cliente.HistorialSolicitudes" />
        <activity android:name=".Cliente.SolicitudesReservaPendientes" />
        <activity android:name=".Cliente.SolicitudReserva" />
        <activity android:name=".Cliente.VerDetallesDispositivosCliente" />
        <activity android:name=".Registro" />
        <activity android:name=".inicioSesion" />
        <activity android:name=".ti.PaginaPrincipalTI" />
        <activity android:name=".Cliente.PagPrincipalCliente" />
        <activity android:name=".RecuperarContra2" />
        <activity android:name=".RecuperarContra1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>